<p id="notice"><%= notice %></p>

<h1>Saloons</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Opening time</th>
      <th>Closing time</th>
      <th>Services</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saloons.each do |saloon| %>
      <tr>
        <td><%= saloon.name %></td>
        <td><%= saloon.address %></td>
        <td><%= saloon.opening_time %></td>
        <td><%= saloon.closing_time %></td>
        <td><%= saloon.services %></td>
        <td><%= saloon.contact %></td>
        <td><%= link_to 'Show', saloon, class:"btn btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_saloon_path(saloon), class:"btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', saloon, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saloon', new_saloon_path, class:"btn btn-secondary" %>
